* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100%; 
    height: 100vh;
}

.bgr {
    width: 100%; 
    height: 100vh;
    position: relative;
    z-index: -1;
}

/* classi per colore background */
.bgr .top {width: 100%; height: 15vh;
    background-color: #009688;
}
.bgr .bottom {width: 100%; height: 85vh;
    background-color: #d7dbd7;
}
/* fine classi per colore background */

/* inizio main container */
main.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 990px;
    width: 100%;
    height: 95vh;
    background-color: #eaeaea;
    display: flex;
}

/** attenzione classe comune per entrambe le colonne */
main.container header {
    width: 100%;
    height: 100px;
    background-color: #eaeaea;
     border: 1px solid green; /*!togliere*/
}

/* inizio colonna di sinistra */
.cln_left {
    width: 40%;
    height: 100%;
    border: 1px solid red; /*!togliere */
}

.cln_left .notification {
    width: 100%;
    height: 120px;
    background-color: #8edafc;
}

.cln_left .search {
    width: 100%;
    height: 80px;
    border: 1px solid greenyellow; /*!togliere */
}

.cln_left .contacts {
    width: 100%;
    height: calc(100% - 300px);
    overflow-y: auto;
    background-color: indigo; /*!togliere */
}

/* fine colonna di sinistra */

/* inizio colonna di destra */
.cln_right {
    width: 60%;
    height: 100%;
    border: 1px solid blue; /*!togliere */
}

.cln_right main {
    width: 100%;
    height: calc(100% - 200px);
    overflow-y: auto;
    background-color: orange;  /*!togliere */
}

.cln_right footer {
    width: 100%;
    height: 100px;
    background-color: lavender;  /*!togliere */
}
/* fine colonna di destra */
/* fine main container */