<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link fontawesome -->    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- link vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <title>Boolzapp</title>
</head>
<body>
    <!-- div #app contiene tutto il codice (per js) -->
    <div id="app">
        
        <!-- inizio sezione colori background -->
        <div class="bgr">
            <!-- classi per colore background -->
            <div class="top"></div>
            <div class="bottom"></div>
            <!-- fine classi per colore background -->
        </div>
        <!-- fine sezione colori background -->

        <!-- contenitore di tutta la parte interattiva dell'app -->
        <main class="container">

            <!-- inizio colonna di sinistra -->
            <div class="cln_left">

                <!-- inizio header sinistra -->
                <header class="user">                    
                    <div class="left flex_align_center">
                        <img src="img/avatar_7.jpg" alt="avatar1" class="avatar">
                        <div class="name">Nome Utente</div>
                    </div>
                    <div class="right boolz_grey">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v pr-10"></i>
                    </div>

                </header>
                <!-- fine header sinistra -->

                <!-- inizio notification sinistra -->
                <div class="notification flex_align_center">
                    <div class="white">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div>
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <div class="grey underline">Attiva notifiche desktop</div>
                    </div>
                </div>
                <!-- fine notification sinistra -->

                <!-- inizio search sinistra -->
                <div class="search">
                    <div class="bgr_white flex_align_center">
                        <i class="fas fa-search boolz_grey mx-10"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <!-- fine search sinistra -->

                <!-- inizio contacts sinistra -->
                <div class="contatti">

                    <!-- inizio contatto -->
                    <!-- todo "bgr_boolz_grey classe da mettere solo al contatto attivo" -->
                    <div class="contact flex_align_start pointer bgr_boolz_grey"  v-for="item in contacts">
                        <img :src="'img/avatar'+ item.avatar +'.jpg'" alt="#" class="avatar">
                        <div class="name">
                            {{item.name}}
                        </div>
                    </div>
                    <!-- fine contatto -->
                    

                </div>
                <!-- fine contacts sinistra -->
            </div>
            <!-- fine colonna di sinistra -->

            <!-- inizio colonna di destra -->
            <div class="cln_right">

                <!-- inizio header destro -->
                <header>

                    <div class="top">
                        <!-- todo da sistemare per far vedere solo contatto attivo -->
                        <div class="left flex_align_center" v-for="item in contacts">
                            <img :src="'img/avatar'+ item.avatar + '.jpg'" alt="#" class="avatar">
                            <div>
                                <div class="name">Michele</div>
                                <div class="grey">Ultimo accesso oggi alle</div>
                            </div>
                        </div>

                        <div class="right boolz_grey">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v pr-10"></i>
                        </div>
                    </div>


                </header>
                <!-- fine header destro -->

                <!-- inizio main destro -->
                <main>

                    <!-- inizio messaggio -->
                    <div class="containerMessage received">
                        <div class="message">
                            <div class="middle">
                                <div class="text">Hai portato a spasso il cane?</div>
                                <div class="status">
                                    <i class="fas fa-check"></i>
                                </div>
                            </div>
                            <div class="date bottom">
                                29/06/2021
                            </div>
                        </div>
                    </div>
                    <!-- fine messaggio -->
                    
                    <!-- inizio messaggio -->
                    <div class="containerMessage sent">
                        <div class="message">
                            <div class="middle">
                                <div class="text">Hai portato a spasso il cane? fatto la spesa e preparato la tavola come ti avevo detto?</div>
                                <div class="status">
                                    <i class="fas fa-check"></i>
                                </div>
                            </div>
                            <div class="date bottom">
                                29/06/2021
                            </div>
                        </div>
                    </div>
                    <!-- fine messaggio -->


                </main>
                <!-- fine main destro -->

                <!-- inizio footer destra -->
                <footer>

                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio">
                    <i class="fas fa-microphone"></i>

                </footer>
                <!-- fine footer destra -->

            </div>
            <!-- fine colonna di destra -->

        </main>

    </div>
    <!-- collegamento js -->
    <script src="js/script.js"></script>
    
</body>
</html>